<div class="card">
  <h2 class="card-header">Signup</h2>
  <div class="card-body">
    <form class="signup-form">
      <div class="mb-3">
        <label for="signup-name" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="signup-name"
          
        />
      </div>
      <div class="mb-3">
        <label for="signup-email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="signup-email"
         
        />
      </div>
      <div class="mb-3">
        <label for="signup-password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="signup-password"
        />
      </div>
      <button type="submit" class="btn btn-primary m-2">Signup</button>
    </form>
    <a href="/login" class="m-1">Login Instead</a>